django 
requests 

# <!DOCTYPE html>
# {% load static%}
# <html lang="en">
# <head>
#     <meta charset="UTF-8">
#     <meta name="viewport" content="width=device-width, initial-scale=1.0">
#     <title>Weather App</title>
#     <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
#     <link rel="stylesheet" href="{% static 'style.css' %}">
# </head>
# <body class="bg-[url('images/bg_image.jpg')]  bg-cover bg-no-repeat min-h-screen items-center flex flex-col gap-5 p-5">

#     <div class="flex flex-row items-center">
#         <h1 class="text-white text-2xl font-bold ">Weather App</h1>
#         <!-- <img src="images/116.png" alt=""> -->
#         <img src="{% static 'images/116.png' %}" alt="">
#     </div>


#     <form class="flex gap-3" method="get">

#         <input type="text" class="bg-white/20 rounded-2xl px-8 outline-white text-white font-bold hover:scale-105 duration-500" placeholder="Enter the City" name="city"> 
#         <button> <i class='bxr hover:scale-110 duration-500 bx-search text-white text-2xl bg-white/20 p-3 rounded-full'></i> </button>

#     </form>
#     <div class="flex text-white bg-white/20 p-3 rounded-xl gap-20 hover:scale-105 duration-500">
#         <div>
#             <p class="text-2xl font-bold ">{{temperature}}&deg;C</p>
#             <p>Now</p>
#             <p class="font-semibold mt-5 text-xl">{{city}}, {{country}}</p>
#         </div>
#         <!-- <img src="images/113.png" alt="" class="h-28 w-28" > -->
#         <img src="{% static 'images/113.png' %}" alt="" class="h-28 w-28">
#     </div>
#     </div>
#     <div class="flex p-3 bg-[#0198afa9] rounded-xl backdrop-blur-2xl md:w-3/5 lg:w-[35%] w-[80%] gap-12" >
#         <div id="left" class="text-white">
#             <div class="top mb-16 mt-3 ">
#                 <img src="{% static 'images/116.png' %}" alt="">
#             </div>
#             <div id="bottom">
#                 <p class="flex font-bold text-4xl"> Clouds </p>
#                 <p class="font-semibold">few clouds</p></div></div>
#     <div class="flex w-1/2 flex-col space-y-2">
#     <div id="right" class="flex p-3 bg-white/30 rounded-lg gap-6">
#         <div id="left"><ion-icon class="text-white w-8 h-8 mt-2" name="thermometer-outline"></ion-icon></div>
#         <div id="right" class="text-white">
#             <div class="font-bold text-2xl">26.71&deg; C</div>
#             <div class="text-sm text-right">Temperature</div>
#         </div>
#         </div>
#         <div id="right" class="flex p-3 bg-white/30 rounded-lg gap-6">
#         <div id="left"><ion-icon class="text-white w-8 h-8 mt-2" name="speedometer-outline"></ion-icon></div>
#         <div id="right" class="text-white">
#             <div class="font-bold text-2xl">7.2 m/s</div>
#             <div class="text-sm text-right">Wind Speed</div>
#         </div>
#         </div>
#         <div id="right" class="flex p-3 bg-white/30 rounded-lg gap-6">
# <div id="left"><ion-icon class="text-white w-8 h-8 mt-2" name="rainyoutline"></ion-icon></div>
# <div id="right" class="text-white">
# <div class="font-bold text-2xl">50 %</div>
# <div class="text-sm text-right">Humidity</div> </div>
# </div></div></div>




# </body>
#</html>